<h1>Here is your <%= @type_of_recipe %> recipe!<h1>

<h2><%= @recipe_name %></h2>
<p>Category: <%= @category %></p>
<p>Area: <%= @area %></p>

<dl>
  <dt>Ingredients</dt>
    <% @ingredients.each do |ingredient| %>
      <dd><%= ingredient %></dd>
    <% end %>

  <dt>Instructions</dt>
  <dd><%= @instructions %></dd>
</dl>
